{:deps {com.rpl/rama-helpers {:mvn/version "0.10.0"}
        org.clojure/clojure {:mvn/version "1.12.0"}}
 :mvn/repos {"maven-releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}
 :aliases {:dev {:extra-paths ["test/resources"]}
           :provided {:extra-deps {com.rpl/rama {:mvn/version "1.1.0"}}}}}